<div class="container">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <a class="navbar-brand" href="#">MojApp</a>
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Link</a>
          </li>
        </ul>
      </nav>

      
      <div class="row">
        <div class="col-lg-12">
            <img src={{url}} class="img-responsive" alt="Image">
        </div>
      </div>
</div>